@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

body {
  background-color: midnightblue;
  color: antiquewhite;
  font-family: Montserrat;
  font-weight: 600;
}

.iande {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.amount {
  display: flex;
  justify-content: space-between;
  width: 15rem;

}

.income {
  color: greenyellow
}

.expense {
  color: tomato;
}

.tranheading {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.listTran div {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.listheading-red {
  color: red;
}

.listheading-green {
  color: green;
}

.totalfig-red {
  color: red;
}

.totalfig-green {
  color: green;
}